.center {
  text-align: center;
}

.red {
  color: rgb(223, 86, 86);
  transition: all .3s linear;
}

.green {
  color: rgb(125, 166, 134);
  transition: all .3s linear;
}

.blue {
  color: rgb(67, 116, 165);
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s,
  opacity 2s linear;
}